
.circle {
  stroke: #000;
  stroke-width: 1px;
}

.bubble-chart-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.bubble {
  fill-opacity: 0.6;
  stroke: #000;
  stroke-width: 1px;
}

svg text {
  font-family: Arial, sans-serif;
}

svg .axis text {
  font-size: 10px;
}

.tooltip {
  position: absolute !important;
  background: #f9f9f9 !important;
  border: 1px solid #d3d3d3 !important;
  padding: 5px !important;
  border-radius: 5px !important;
  pointer-events: none !important;
  opacity: 0 !important;
  z-index: 10 !important;
}

#bubble-chart {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
}
