<div class="title"><h1>Scenario 1: Too many Service failure</h1></div>
<app-top-cards></app-top-cards>

<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<h1>Scenario 2: Too many service request</h1>
<div class="row">
  <div class="col-lg-7">
    <app-sales-summary></app-sales-summary>
  </div>
  <!-- <div class="col-lg-5"> -->
    <!-- <app-feeds></app-feeds> -->
  <!-- </div> -->
</div>

<div class="title"><h1>Scenario 3: Sudden increase in number of Transactions</h1></div>
<app-bubble-chart></app-bubble-chart>

<div class="title"><h1>Bar graph : No. of Success Vs No. of Transactions </h1></div>
<app-bar-graph></app-bar-graph>

<div class="title"><h1>Line Chart</h1></div>
<app-line-chart></app-line-chart>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- <div class="row"> -->
  <!-- column -->
  <!-- <div class="col-12"> -->
    <!-- <app-top-selling></app-top-selling> -->
  <!-- </div> -->
<!-- </div> -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<!-- <app-blog-cards></app-blog-cards> -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
